sources/mets_file_premis_validator.xml

<schema xmlns="http://purl.oclc.org/dsdl/schematron">
    <ns prefix="csip" uri="DILCIS"/>
    <ns prefix="ead" uri="urn:isbn:1-931666-22-9"/>
    <ns prefix="mets" uri="http://www.loc.gov/METS/"/>
    <pattern id="METS_root_element_validation">
        <title>Validate METS root element.</title>
        <rule id="CSIP1-Root-element-validation" context="mets:mets">
            <assert test="name()='mets:mets'">The root level element is required in all METS documents</assert>
        </rule>
    </pattern>
    <pattern id="METS_root_element_object_id_validation">
        <title>Validate METS root element.</title>
        <rule id="CSIP2-OBJID-validation" context="mets:mets">
            <assert test="@OBJID">It is recommended that it be the same as the name or ID of the package (the name of the root folder). The OBJID must meet the CS IP requirement of being unique at least across the repository.</assert>
        </rule>
    </pattern>
    <pattern id="METS_root_element_type_validation">
        <rule id="CSIP3-TYPE-existence" context="mets:mets">
            <assert test="@TYPE">General content type attribute does not exist.</assert>
        </rule>
    </pattern>
    <pattern id="METS_file_premis_element_validation">
        <title>Validate METS element fileSec.</title>
        <rule id="CSIP58-fileSec-validation" context="mets:fileSec">
            <assert test="name()='mets:fileSec'">When the section is used only one file section (fileSec) element is present. It is possible to transfer just descriptive metadata and/or adminsitrative metadata without files placed in this section.</assert>
        </rule>
    </pattern>
    <pattern id="METS_file_premis_element_id_validation">
        <title>Validate METS file element id</title>
        <rule id="CSIP59-fileSec-id-validation" context="mets:fileSec">
            <assert test="@ID">An identifier for the file section used for referencing inside the package. It must be unique within the package. The ID must follow the rules for xml:id described in the chapter of the textual description of CSIP named "General requirements for the use of metadata".</assert>
        </rule>
    </pattern>
    <pattern id="METS_file_premis_element_filegr_validation">
        <title>Validate METS file element fileGr.</title>
        <rule id="CSIP60-fileSec-validation" context="mets:fileGrp">
            <assert test="name()='mets:fileGrp'">There are one or more file group (fileGrp) elements present grouping the transfered files in the main catagorization of; Documentation, Schemas and Representations. In one or more file groups with the catagorization of "Documentation" all documetation pertaining to the transfered information is present. In one or more file groups with the catagorization of "Schemas" all XML-schemas pertaining to the transfered XML documents is present. In one or more file groups with the catagorization of "Representations" the data being transfered is present or in one file group the data for each representation is present. To make the catagorization easier the different files being transfered should be placed in folders with names folowing the catagorization .</assert>
        </rule>
    </pattern>
    <pattern id="METS_file_premis_element_id_validation">
        <title>Validate METS file element id</title>
        <rule id="CSIP61-fileSec-admid-validation" context="mets:file">
            <assert test="@ADMID">If administrative metadata is has been provided on the file group (fileGrp) level this attribute points to the correct administrative metadata section.</assert>
        </rule>
    </pattern>
    
</schema>
