sources/mets_administrative_metadata_premis_validator.xml

<schema xmlns="http://purl.oclc.org/dsdl/schematron">
    <ns prefix="csip" uri="DILCIS"/>
    <ns prefix="ead" uri="urn:isbn:1-931666-22-9"/>
    <ns prefix="mets" uri="http://www.loc.gov/METS/"/>
    <pattern id="METS_root_element_validation">
        <title>Validate METS root element.</title>
        <rule id="CSIP1-Root-element-validation" context="mets:mets">
            <assert test="name()='mets:mets'">The root level element is required in all METS documents</assert>
        </rule>
    </pattern>
    <pattern id="METS_root_element_object_id_validation">
        <title>Validate METS root element.</title>
        <rule id="CSIP2-OBJID-validation" context="mets:mets">
            <assert test="@OBJID">It is recommended that it be the same as the name or ID of the package (the name of the root folder). The OBJID must meet the CS IP requirement of being unique at least across the repository.</assert>
        </rule>
    </pattern>
    <pattern id="METS_root_element_type_validation">
        <rule id="CSIP3-TYPE-existence" context="mets:mets">
            <assert test="@TYPE">General content type attribute does not exist.</assert>
        </rule>
    </pattern>
    <pattern id="METS_administrative_metadata_premis_element_validation">
        <title>Validate METS administrative element amdSec.</title>
        <rule id="CSIP31-amdSec-validation" context="mets:amdSec">
            <assert test="name()='mets:amdSec'">If administrative / preservation metadata is available, it must be described using the administrative metadata section (amdSec) element. It is possible to transfer metadata in a package using just the descriptive metadata sectiond/or adminstrative metadata section.</assert>
        </rule>
    </pattern>

</schema>
